#Data Science Tools & Ecosystem

###Introduction to this notebook: In this notebook we will revien some jupyter notebook basic applied exercises.

**Objectives**:
- Create a Jupyter Notebook.
- Enlist commonly used languages in data science.
- Enlist commonly used libraries in sata science.
- Apply arithmetic operations using Python language
- Share notebook on GitHub

Some of the comnmnly used languages in data science are:
- Python
- R
- Julia

Some of the commonly used libraries in data science are:
- Pandas
- NumPy
- Matplotlib

|Data Science Tools|
|:----------------:|
|Appache Spark|
|Tensor Flow|
|Pandas|

###Below are examples of evaluating some arithmetic expressions in Python

In [26]:
a=3
b=4
c=5
z=(a*b)+c
print(z)

17

###This operation will convert 200 min into hours.

In [18]:
m=200
h=60
hrs=200/60
print(hrs)

3.3333333333333335

##Author
Humberto Garza